/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	font-family: 'Londrina Sketch';
	font-size: 22px;
	color: #3a3a3a;
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h2, 
h3, 
a {
font-family: 'Londrina Sketch';
font-size: 22px;
color: #3a3a3a;
margin: 0;
color: #3a3a3a;

}
h2,
h3 {
	margin-top: 0;
}
a {
	text-decoration: dashed;
}

img {
	max-width: 50%;
}
/* =======================
   Base Layout Styles
========================== */

/* ------ Navigation ------- */

.name {
	/* font-size: 1.35em; */
	font-size: 4vh;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}

/* centers the wicked tree top heading */
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.name a,
.main-nav a {
	font-size: .95em;
	color: #3a3a3a;
	text-transform: uppercase;
}
.name a,
.main-nav a:hover {
	color: #093a58;
}

/* --------Layout Container --------- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.banner,
.main-footer {
	text-align: center;
}
.banner {
	color:#ffffff;
	background: #5F5426;
	padding: 1.8em 0;
	margin-bottom: 32px;
}
.chalkboard{
	background: black;
	padding: 1.8em 0;
	margin-bottom: 32px;
	text-align: center;
	font-family: 'Indie Flower';
	font-size: 22px;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

DRY  */

.rounded {
    border-radius: 50%;
}

/* pseudo-element */

.intro::first-line {
	font-weight: bold;
	font-size: 1.4em;
}

.intro::first-letter {
	float: left;
	font-size: 80px;
	color: #ffffff;
	padding: 5px 10px;
	background: #5f5426;
	margin: 10px 10px 0 0;
	border-radius: 5px;
	line-height: 1;
}