:root {
    background: #C2BC74;
}
h1:nth-child(n) {
    background: #C2BC74;
    color: #807E82;

}
:target {
    background: #384047 ;
    color: #6E615A;
}

#col-c:target {
    background: #eff1f2;
    color: initial;
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
}

li:nth-child(2n) {
    background: #6E615A;
    color: #B8B8B8;
    border: solid 2px #C2BC74;
}

li:nth-child(odd) {
    background: #E3CCA1;
    color: #6E615A;
    border: solid 2px #C2BC74;
}


