.form-contact {
    padding: 20px 24px;
    background: #f4f7f8;
    align-content: center;
}

.container {
    max-width: 500px;
    margin: auto;
}

input[type="text"] {
    background: #fdfee6;
}

textarea[type="text"] {
    background: #fdfee6; 
}

input[placeholder] {
    background: #fdfee6;
}

input[type="email"] {
    background: #fdfee6
}

/* Dry classes */

.br {
    border-radius: .5em;
}

.avatar {
    display: block;
    margin: 0 auto 2em;
}

.rounded {
    border-radius: 50%;
}

.btn {
    cursor: pointer;
    font-size: .875em;
    font-weight: 400;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

.btn:hover {
    opacity: .75;
}

.default {
    background-color: #52bab3;
}

.error {
    background-color: #ff784f;
}
.lbl {
    margin-bottom: 10px;
    text-align: left;
}

@media (min-width: 769px) {
    .inline {
        width: auto;
        display: inline-block
    }
    .btn + .btn {
        margin-left: 20px;
    }
}

/* Combinators */



